body {
    background-color: #778899;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .container {
    width: 60%;
    height: 500px;
    margin: 5px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
    display: inline-block;
  }
  
  h1 {
    font-size: 35px;
    margin: 25px 0;
    border-bottom: 2px solid red;
    width: 85%;
    display: inline-block;
  }
  
  .input-form {
    text-align: center;
  }
  
  .form-row {
    margin-bottom: 15px;
  }
  
  button {
    display: inline-block;
    margin: 3px;
    padding: 0;
    width: 240px;
    height: 60px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  #firstNameButton,
  #lastNameButton,
  #zipCodeButton {
    background-color: black;
    border: 2px solid red;
  }
   
  #accessButton {
    border: none;
    background: none;
  }
  
  #accessButton.firstNameEntered {
    border: 2px solid red;
  }
  
  #accessButton.lastNameEntered {
    border: 2px solid black;
    background-color: red;
    color: red;
  }
  
  #accessButton.zipCodeEntered {
    border: 2px solid black;
    background-color: red;
    color: #ffffff;
  }
  
  input[type="text"] {
    display: inline-block;
    width: 240px;
    height: 60px;
    margin-left: 3px;
    font-size: 18px;
    padding: 3px;
    border: 2px solid black;
    border-radius: 8px;
  }
  
  #secretMessage {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    color: #ffffff;
    transition: color 1s;
    font-family: cursive;
    font-size: 20px;
    font-style: oblique;
  }